.auth {
   width: 85%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   height: 100vh;

   .intro {
      flex: 1;
      margin-right: 3rem;

      h1 {
         color: $primary-color;
         font-weight: bolder;
      }
   }

   form {
      width: 40%;

      div {
         p {
            color: $primary-color;
         }
         .btn-primary {
            width: 100%;
         }
      }
   }
}
